aiohttp==3.8.5
aiohttp-retry==2.8.3
aiosignal==1.3.1
alabaster==0.7.12
ansible==7.7.0
ansible-core==2.14.18
argcomplete==1.12.0
astroid==3.0.2
asttokens==2.4.1
async-timeout==4.0.2
attrs==23.1.0
Babel==2.9.1
backoff==2.2.1
blivet==3.6.0
Brlapi==0.8.2
certifi==2023.5.7
cffi==1.14.5
chardet==4.0.0
charset-normalizer==2.0.12
cockpit @ file:///builddir/build/BUILD/cockpit-334.1/tmp/wheel/cockpit-334.1-py3-none-any.whl
colorama==0.4.6
cryptography==36.0.1
cupshelpers==1.0
dasbus==1.4
dbus-client-gen==0.5.1
dbus-python==1.2.18
dbus-python-client-gen==0.8.3
dbus-signature-pyparsing==0.4.1
decorator==5.1.1
dill==0.3.7
distro==1.5.0
docutils==0.16
et-xmlfile==1.1.0
evdev==1.6.0
exceptiongroup==1.2.0
executing==2.0.1
file-magic==0.4.0
frozenlist==1.4.0
gpg==1.15.1
hl7apy==1.3.4
idna==2.10
imagesize==1.2.0
initial-setup==0.3.90.2
into-dbus-python==0.8.2
ipython==8.18.1
isort==5.13.2
jedi==0.19.1
Jinja2==2.11.3
justbases==0.15.2
justbytes==0.15.2
langtable==0.0.54
leapp==0.18.0
lib389==2.6.1
libcomps==0.1.18
libvirt-python==10.10.0
lxml==4.6.5
MarkupSafe==1.1.1
matplotlib-inline==0.1.6
mccabe==0.7.0
multidict==6.0.4
netaddr==0.9.0
nftables==0.1
numpy==1.25.1
openpyxl==3.1.2
packaging==20.9
panda==0.3.1
pandas==2.0.3
parso==0.8.3
pefile==2023.2.7
perf==0.1
pexpect==4.8.0
phonenumbers==8.13.17
pid==2.2.3
platformdirs==4.1.0
ply==3.11
powerline-status==2.8.4
productmd==1.31
prompt-toolkit==3.0.43
pssh==2.3.4
psutil==5.8.0
ptyprocess==0.6.0
pure-eval==0.2.2
pwquality==1.4.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.20.1
pycparser==2.20
pycups==2.0.1
pycurl==7.43.0.6
pyenchant==3.2.0
pygit2==1.14.0
Pygments==2.7.4
PyGObject==3.40.1
pyinotify==0.9.6
PyJWT==2.8.0
pykickstart==3.32.14
pylint==3.0.3
pyparsing==2.4.7
pyparted==3.12.0
pyroute2==0.5.14
PySide6==6.2.2.1
PySocks==1.7.1
python-dateutil==2.8.2
python-ldap==3.4.3
python-linux-procfs==0.7.3
python-meh==0.50
python-xlib==0.33
pytz==2023.3
pyudev==0.22.0
pyxdg==0.27
PyYAML==5.4.1
requests==2.27.1
requests-file==1.5.1
requests-ftp==0.3.1
resolvelib==0.5.4
rpm==4.16.1.3
selinux==3.6
sepolicy==3.6
setools==4.4.4
setroubleshoot @ file:///builddir/build/BUILD/setroubleshoot-3.3.32/src
shiboken6==6.2.2.1
simple-term-menu==1.6.1
simpleline==1.8.3
six==1.15.0
snowballstemmer==1.9.0
sos==4.9.1
Sphinx==3.4.3
sphinx-rtd-theme==0.5.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
SSSDConfig==2.9.6
stack-data==0.6.3
stratis-cli==3.7.0
systemd-python==234
templated-dictionary==1.5
tomli==2.0.1
tomlkit==0.12.3
tqdm==4.66.1
traitlets==5.14.0
twilio==8.5.0
typing_extensions==4.9.0
tzdata==2023.3
urllib3==1.26.5
virt-firmware==24.11
wcwidth==0.2.12
xlrd==2.0.1
yarl==1.9.2
